@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body{
    background-image: url(/img/desing_reg.png);
	font-family: 'Nunito', sans-serif;
}
.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;  
}
form{
	margin: auto;
	padding: 40px;
	width: 380px;
	background-color: ivory;
	border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-content h2{
	margin: 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.2rem;
	
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    border-bottom: 2px solid #d9d9d9;
}
.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 16px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #ca0f0c;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #ca0f0c;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'Nunito', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #d33838;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #ca0f0c, #eb1b1b, #ca0f0c);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

@media screen and (max-width: 500px){	
form{
	width: auto;
}	
}